<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.emf.importer.modelImporterDescriptors">
      <modelImporterDescriptor
            id="de.jeandev.api2ecore.modelImporterDescriptor1"
            name="name"
            wizard="de.jeandev.api2ecore.ModelImporterWizard1">
      </modelImporterDescriptor>
   </extension>

</plugin>
